iframe {
  display: block;
  margin: auto;
}
body,
p {
  margin: 0;
}

body {
  background-color: #f7f7f8;
  padding-top: 3.5rem;
}

iframe {
  max-width: 100% !important;
  width: 100% !important;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6441a5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7e5bbe;
}

#twitch-embed {
  height: 80vh;
}
